/*
    Jungjae Lee, Personal Portfolio
*/


@media (max-width: 767px){
    .lab_name-header{text-align: left; font-size: clamp(10px, 2.0vw, 27px);}

    .lab_company-para-section{padding-top:1%;}
    .lab_company-para{text-align: left; font-size: clamp(10px, 1.5vw, 20px);}

    .lab_PI-para-section{padding-top:1%;}
    .lab_PI-para{text-align: left; font-size: clamp(10px, 1.5vw, 20px);}

    .lab_work_hour-section{padding-top: 3%;}
    .lab_description-section{padding-top: 3%;}

    .lab_buton-section{display: absolute; position: relative; text-align: center; list-style: none; padding-top: 3%; flex: 1;}
    .lab_buton-section button{position: relative; color: rgb(0, 0, 0); background-color: rgb(240, 248, 255); text-align:center; 
        cursor: pointer; padding: 0.5vw 1.5vw; list-style: none; font-size: clamp(10px, 3.0vw, 14px);}
    .lab_buton-section button a{color: rgb(0, 0, 0); cursor: pointer;}
}


@media (min-width: 768px) and (max-width: 1023px){
    .lab_name-header{text-align: left; font-size: clamp(10px, 2.0vw, 27px);}

    .lab_company-para-section{padding-top:1%;}
    .lab_company-para{text-align: left; font-size: clamp(10px, 1.5vw, 20px);}

    .lab_PI-para-section{padding-top:1%;}
    .lab_PI-para{text-align: left; font-size: clamp(10px, 1.5vw, 20px);}

    .lab_work_hour-section{padding-top: 3%;}
    .lab_description-section{padding-top: 3%;}

    .lab_buton-section{display: absolute; position: relative; text-align: center; list-style: none; padding-top: 3%; flex: 1;}
    .lab_buton-section button{position: relative; color: rgb(0, 0, 0); background-color: rgb(240, 248, 255); text-align:center; 
        cursor: pointer; padding: 0.5vw 1.5vw; list-style: none; font-size: clamp(10px, 4.0vw, 14px);}
    .lab_buton-section button a{color: rgb(0, 0, 0); cursor: pointer;}
}
    

@media (min-width: 1023px) and (max-width: 1439px){
    .lab_name-header{text-align: left; font-size: clamp(10px, 2.0vw, 27px);}

    .lab_company-para-section{padding-top:1%;}
    .lab_company-para{text-align: left; font-size: clamp(10px, 1.5vw, 20px);}

    .lab_PI-para-section{padding-top:1%;}
    .lab_PI-para{text-align: left; font-size: clamp(10px, 1.5vw, 20px);}

    .lab_work_hour-section{padding-top: 3%;}
    .lab_description-section{padding-top: 3%;}

    .lab_buton-section{display: absolute; position: relative; text-align: center; list-style: none; padding-top: 3%; flex: 1;}
    .lab_buton-section button{position: relative; color: rgb(0, 0, 0); background-color: rgb(240, 248, 255); text-align:center; 
        cursor: pointer; padding: 0.5vw 1.5vw; list-style: none; font-size: clamp(10px, 4.0vw, 14px);}
    .lab_buton-section button a{color: rgb(0, 0, 0); cursor: pointer;}
}


@media (min-width: 1440px){
    .lab_name-header{text-align: left; font-size: 27px;}

    .lab_company-para-section{padding-top:1%;}
    .lab_company-para{text-align: left; font-size: 20px;}

    .lab_PI-para-section{padding-top:1%;}
    .lab_PI-para{text-align: left; font-size: 20px;}

    .lab_work_hour-section{padding-top: 3%;}
    .lab_description-section{padding-top: 3%;}

    .lab_buton-section{display: absolute; position: relative; text-align: center; list-style: none; padding-top: 3%; flex: 1;}
    .lab_buton-section button{position: relative; color: rgb(0, 0, 0); background-color: rgb(240, 248, 255); text-align:center; 
        cursor: pointer; padding: 1vw 2vw; list-style: none; font-size: 14px;}
    .lab_buton-section button a{color: rgb(0, 0, 0); cursor: pointer;}
}