/*
    Jungjae Lee, Personal Portfolio
*/


@media (max-width: 899px){
    .globalNav_intro_Container{background: linear-gradient(rgb(0, 0, 0), rgb(0, 86, 179), rgb(156, 204, 255)); width: 100%;}
    .globalNav_intro_Container a{color: rgb(0, 0, 0); cursor: pointer; text-decoration: none;}
    .globalNav_Name_Section{padding-top: 20px; padding-bottom: 5px; color:rgb(255, 255, 255); text-align: center; font-family: Arial, sans-serif; font-size: 18px; text-decoration: none;}
    .globalNav_Body_Section{padding-top: .1%; padding-bottom: 20px; color:rgb(255, 255, 255); text-align: center; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none;}
    
    
    .globalNav_Container{background: rgb(246, 246, 246); width: 100%;}
    .globalNav_section{padding-top: 10px; padding-bottom: 10px; text-align: center; font-family: Arial, sans-serif;}
    
    
    .universal02-nav-section nav{display: flex; align-items: center; justify-content: space-between; padding-top: 1px; padding-bottom: 1.5%;}
    
    .universal02-nav_ul{display: inline-block; position: relative; text-align: center; list-style: none; flex: 1;}
    .universal02-nav_ul li{display: inline-block; position: relative; list-style: none;}
    .universal02-nav_ul li a{padding: 15px; color: rgb(0, 0, 0); cursor: pointer; text-decoration: none; font-size: 14px;}
    
    
    .dropdown {position: relative; display: inline-block;}
    .dropdown-content {display: none; position: absolute; background-color: rgb(255, 255, 255); 
        box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.575); z-index: 1; width: 100%}
    .dropdown-content a {padding: 50px 16px; text-decoration: none; display: block;}
    .dropdown:hover .dropdown-content {display: block}


    .globalNav_Name_Section h1 a{color: rgb(255, 255, 255); cursor: pointer; text-decoration: none; padding: 30px;}
}


@media (min-width: 900px){
    .globalNav_intro_Container{background: linear-gradient(rgb(0, 0, 0), rgb(0, 86, 179), rgb(156, 204, 255)); width: 100%;}
    .globalNav_intro_Container a{color: rgb(0, 0, 0); cursor: pointer; text-decoration: none;}
    .globalNav_Name_Section{padding-top: 20px; padding-bottom: 5px; color:rgb(255, 255, 255); text-align: center; font-family: Arial, sans-serif; font-size: 18px; text-decoration: none;}
    .globalNav_Body_Section{padding-top: .1%; padding-bottom: 20px; color:rgb(255, 255, 255); text-align: center; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none;}
    
    
    .globalNav_Container{background: rgb(246, 246, 246); width: 100%;}
    .globalNav_section{padding-top: 10px; padding-bottom: 10px; text-align: center; font-family: Arial, sans-serif;}
    
    
    .universal02-nav-section nav{display: flex; align-items: center; justify-content: space-between; padding-top: 1px; padding-bottom: 1.5%;}
    
    .universal02-nav_ul{display: inline-block; position: relative; text-align: center; list-style: none; flex: 1;}
    .universal02-nav_ul li{display: inline-block; position: relative; list-style: none;}
    .universal02-nav_ul li a{padding: 15px; color: rgb(0, 0, 0); cursor: pointer; text-decoration: none; font-size: 14px;}
    
    
    .dropdown {position: relative; display: inline-block;}
    .dropdown-content {display: none; position: absolute; background-color: rgb(255, 255, 255); 
        box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.575); z-index: 1; width: 100%}
    .dropdown-content a {padding: 50px 16px; text-decoration: none; display: block;}
    .dropdown:hover .dropdown-content {display: block}


    .globalNav_Name_Section h1 a{color: rgb(255, 255, 255); cursor: pointer; text-decoration: none; padding: 30px;}
}


.globalNav_Social_Icon_Section{align-items: right; text-align: right; background-color: black;}
.globalNav_Social_Icon_Section nav{display: flex; align-items: center; justify-content: space-between; padding-top: 1vw; padding-bottom: 1vw;}

.globalNav_Social_Icon_Section_ul{display: inline-block; position: relative; text-align: center; list-style: none; flex: 1;}
.globalNav_Social_Icon_Section_ul li{display: inline-block; position: relative; list-style: none;}
.globalNav_Social_Icon_Section_ul li a{color: rgb(251, 255, 125); cursor: pointer; text-decoration: none; padding: 30px; font-size: 15px;}



.fa {padding-left: 10px; width: 30px; text-align: right; text-decoration: none; color: rgb(0, 0, 0);}
.fa:hover {opacity: 0.4;}
.fa-linkedin{background:rgb(246, 246, 246);}
.fa-github{background:rgb(246, 246, 246);}



.globalNav_Icons_Section{display: flex; display: flex; justify-content: space-between; align-items: right; padding: 10px 20px;}
.globalNav_Icons_Section a {text-decoration: none; color: rgb(255, 255, 255);}



.universal02-code_intro-container{margin: auto auto; text-align: center; padding: 15px; background-color: rgb(255, 255, 255);}
.universal02-code_intro-container p{font-size: 14px;}

.universal02-photo_intro-container{position: relative; background-position: center; background-size: cover; width: 100%;
    min-height: 55vh; background-image: url(images/intro-background.jpg);}