/*
    Jungjae Lee, Personal Portfolio
*/


.universal04-intro_pg-section{padding-top: 5%; padding-left: 20%; padding-right: 20%;}

.universal04-intro1-section{text-align: center; font-size: 30px;}
.universal04-pg_header1{text-align: center; font-size: 35px; font-family: 'arial', sans-serif;}

.universal04-intro2-section{padding-top: 5px; text-align: center;}
.universal04-pg_header1_para1{text-align: center; padding-top: 2%; font-size: 25px; font-family: 'arial', sans-serif;}

.universal04-intro3-section{padding-top: 5px; text-align: center;}
.universal04-pg_header1_para2{text-align: center; padding-top: 1%; font-size: 20px; font-family: 'barlow', sans-serif;}

.universal04-header1{text-align: left; font-size: 30px; font-family: 'arial', sans-serif;}
.universal04-paragraph1{text-align: left; padding-top: 1%; font-size: 20px; font-family: 'barlow', sans-serif;}