/*
    Jungjae Lee, Personal Portfolio
*/


*{margin: 0; padding: 0;}

header {font-family: Arial, sans-serif;}

.header1{font-size: 30px; font-family: 'arial', sans-serif;}
.paragraph1{font-size: 20px; font-family: 'barlow', sans-serif; padding: 10px 0%;}
.hr1{margin: 2% 20%;}

.ul-bullet_points1{display: inline-block; position: relative; text-align: left; list-style-type: initial; flex: 1; margin-left: 5%;}
.ul-bullet_points2{display: inline-block; position: relative; text-align: left; list-style-type: circle; flex: 1; margin-left: 10%;}

.list1{position: relative; font-size: 20px; font-family: 'barlow', sans-serif; padding-top: 5px; padding-bottom: 5px;}
.list2{position: relative; font-size: 20px; font-family: 'barlow', sans-serif; padding-top: 5px; padding-bottom: 5px;}

.links{color: rgb(0, 0, 0); text-decoration: none; cursor: pointer;}

.footer{margin-top: 70px; margin-bottom: 40px; text-align: center;}