/*
    Jungjae Lee, Personal Portfolio
*/


*{margin: 0; padding: 0;}

.universal01-new_section{padding: 0% 20%}

.universal01-header{font-size: 30px; font-family: Arial, sans-serif;}

.universal01-para1{font-size: 20px; font-family: 'barlow', sans-serif;}

.universal01-space{margin: 3% 20%;}


.universal01-ul_BP1{display: inline-block; position: relative; text-align: left; list-style-type: initial; flex: 1; margin-left: 5%;}
.universal01-ul_BP2{display: inline-block; position: relative; text-align: left; list-style-type: circle; flex: 1; margin-left: 7%;}

.universal01-li_list1{position: relative; font-size: 20px; font-family: 'barlow', sans-serif; padding-top: 1%;}
.universal01-li_list2{position: relative; font-size: 20px; font-family: 'barlow', sans-serif; padding-top: 1%;}

.universal01-a-links{color: rgb(0, 0, 0); text-decoration: none; cursor: pointer;}


.universal01-footer{margin-top: 5%; margin-bottom: 3%; text-align: center;}