/*
    Jungjae Lee, Personal Portfolio
*/


@media (max-width: 767px){
    .code-header{position: relative; text-align: center; color:rgb(0, 0, 0); font-size: clamp(10px, 2.0vw, 27px); font-family: 'arial', sans-serif;}
}


@media (min-width: 768px) and (max-width: 1023px){
    .code-header{position: relative; text-align: center; color:rgb(0, 0, 0); font-size: clamp(10px, 2.0vw, 27px); font-family: 'arial', sans-serif;}
}
    

@media (min-width: 1023px) and (max-width: 1439px){
    .code-header{position: relative; text-align: center; color:rgb(0, 0, 0); font-size: clamp(10px, 2.0vw, 27px); font-family: 'arial', sans-serif;}
}


@media (min-width: 1440px){
    .code-header{position: relative; text-align: center; color:rgb(0, 0, 0); font-size: 27px; font-family: 'arial', sans-serif;}
}