/*
    Jungjae Lee, Personal Portfolio
*/


@media (max-width: 767px){
    .universal05-section-header{position: relative; text-align: center; color:rgb(0, 0, 0); font-size: 3vw; font-family: 'arial', sans-serif;}
    .universal05-space{margin: 2% 90%;}

    .universal05-project_description-section{padding-top: 5%;}


    /* Description of projects */
    .universal05-project_detail-title-section{padding-top: 5%; padding-left: 7vw; font-size: clamp(10px, 1.5vw, 20px);}
    .universal05-project_detail_description-section{padding-left: 8vw; padding-top: 1vw; font-size: clamp(10px, 1.5vw, 20px);}

    
    .universal05-project_photo-section{margin-top: 5%; padding-left: 7vw;}
    .universal05-photo_3col_1-section{display: flex; justify-content: space-between; margin-top: 3%; text-align: center; font-size: 20px;}
    .universal05-photo_3col-1_photo-section{flex: 1; width: 48%; padding: 0 1%;}

    .universal05-photo_2col-item img {width: 40%; height: auto;}


    .universal05-project_video-section{margin-top: 5%; padding-left: 7vw;}
    .universal05-video_3col_1-section{display: flex; justify-content: space-between; margin-top: 3%; text-align: center; font-size: 20px;}
    .universal05-video_3col-1_video-section{flex: 1; width: 30%; padding: 0 1%;}

    .universal05-video_2col-item video {width: 30%; height: auto;}
}


@media (min-width: 768px) and (max-width: 1023px){
    .universal05-section-header{position: relative; text-align: center; color:rgb(0, 0, 0); font-size: 3vw; font-family: 'arial', sans-serif;}
    .universal05-space{margin: 2% 90%;}

    .universal05-project_description-section{padding-top: 5%;}


    /* Description of projects */
    .universal05-project_detail-title-section{padding-top: 5%; padding-left: 7vw; font-size: clamp(10px, 1.5vw, 20px);}
    .universal05-project_detail_description-section{padding-left: 8vw; padding-top: 1vw; font-size: clamp(10px, 1.5vw, 20px);}


    .universal05-project_photo-section{margin-top: 5%; padding-left: 7vw;}
    .universal05-photo_3col_1-section{display: flex; justify-content: space-between; margin-top: 3%; text-align: center; font-size: 20px;}
    .universal05-photo_3col-1_photo-section{flex: 1; width: 48%; padding: 0 1%;}

    .universal05-photo_2col-item img {width: 40%; height: auto;}


    .universal05-project_video-section{margin-top: 5%; padding-left: 7vw;}
    .universal05-video_3col_1-section{display: flex; justify-content: space-between; margin-top: 3%; text-align: center; font-size: 20px;}
    .universal05-video_3col-1_video-section{flex: 1; width: 30%; padding: 0 1%;}

    .universal05-video_2col-item video {width: 30%; height: auto;}
}
    

@media (min-width: 1023px) and (max-width: 1439px){
    .universal05-section-header{position: relative; text-align: center; color:rgb(0, 0, 0); font-size: 3vw; font-family: 'arial', sans-serif;}
    .universal05-space{margin: 2% 90%;}

    .universal05-project_description-section{padding-top: 5%;}


    /* Description of projects */
    .universal05-project_detail-title-section{padding-top: 5%; padding-left: 7vw; font-size: clamp(10px, 1.5vw, 20px);}
    .universal05-project_detail_description-section{padding-left: 8vw; padding-top: 1vw; font-size: clamp(10px, 1.5vw, 20px);}


    .universal05-project_photo-section{margin-top: 5%; padding-left: 7vw;}
    .universal05-photo_3col_1-section{display: flex; justify-content: space-between; margin-top: 3%; text-align: center; font-size: 20px;}
    .universal05-photo_3col-1_photo-section{flex: 1; width: 48%; padding: 0 1%;}

    .universal05-photo_2col-item img {width: 40%; height: auto;}


    .universal05-project_video-section{margin-top: 5%; padding-left: 7vw;}
    .universal05-video_3col_1-section{display: flex; justify-content: space-between; margin-top: 3%; text-align: center; font-size: 20px;}
    .universal05-video_3col-1_video-section{flex: 1; width: 30%; padding: 0 1%;}

    .universal05-video_2col-item video {width: 30%; height: auto;}
}


@media (min-width: 1440px){
    .universal05-section-header{position: relative; text-align: center; color:rgb(0, 0, 0); font-size: 32px; font-family: 'arial', sans-serif;}
    .universal05-space{margin: 2% 90%;}

    .universal05-project_description-section{padding-top: 3%;}


    /* Description of projects */
    .universal05-project_detail-title-section{padding-top: 5%; padding-left: 7vw; font-size: 20px;}
    .universal05-project_detail_description-section{padding-left: 8vw; padding-top: 1vw; font-size: 20px}


    .universal05-project_photo-section{margin-top: 5%; padding-left: 7vw;}
    .universal05-photo_3col_1-section{display: flex; justify-content: space-between; margin-top: 3%; text-align: center; font-size: 20px;}
    .universal05-photo_3col-1_photo-section{flex: 1; width: 48%; padding: 0 1%;}

    .universal05-photo_2col-item img {width: 40%; height: auto;}


    .universal05-project_video-section{margin-top: 5%; padding-left: 7vw;}
    .universal05-video_3col_1-section{display: flex; justify-content: space-between; margin-top: 3%; text-align: center; font-size: 20px;}
    .universal05-video_3col-1_video-section{flex: 1; width: 30%; padding: 0 1%;}

    .universal05-video_2col-item video {width: 30%; height: auto;}

}