/*
    Jungjae Lee, Personal Portfolio
*/


@media (max-width: 767px){
    .n01_02-section-header{position: relative; text-align: center; color:rgb(0, 0, 0); font-size: clamp(10px, 5.0vw, 32px); font-family: 'arial', sans-serif;}
    .n01_02-space{margin: 1% 40%;}

    .n01_02-project_description-section{padding-top: 3%;}
}


@media (min-width: 768px) and (max-width: 1023px){
    .n01_02-section-header{position: relative; text-align: center; color:rgb(0, 0, 0); font-size: clamp(10px, 5.0vw, 32px); font-family: 'arial', sans-serif;}
    .n01_02-space{margin: 1% 40%;}

    .n01_02-project_description-section{padding-top: 3%;}
}
    

@media (min-width: 1023px) and (max-width: 1439px){
    .n01_02-section-header{position: relative; text-align: center; color:rgb(0, 0, 0); font-size: clamp(10px, 5.0vw, 32px); font-family: 'arial', sans-serif;}
    .n01_02-space{margin: 1% 40%;}

    .n01_02-project_description-section{padding-top: 3%;}
}


@media (min-width: 1440px){
    .n01_02-section-header{position: relative; text-align: center; color:rgb(0, 0, 0); font-size: 32px; font-family: 'Arial', sans-serif;}
    .n01_02-space{margin: 1% 40%;}

    .n01_02-project_description-section{padding-top: 3%;}
}